.grid {
  display: grid;
  &-wrapped {
    max-width: 960px;
    margin: 0 auto;
  }
}

.inline-grid {
  display: inline-grid;
}

.grid-horizontal {
  grid-auto-flow: column;
}

.grid-vertical {
  grid-auto-flow: row;
}
