@import "/src/scss/variables";
@import "/src/scss/colors.variables";

.menu {
  li {
    float: left;
    a {
      display: inline-block;
      text-decoration: none;
      padding: $menu_padding;
      color: inherit;
      &.active {
        color: $white;
        background-color: $blue;
      }
    }
  }
}
