@import "/src/scss/colors.variables";

.menu {
  li {
    float: left;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 14px 16px;
      color: inherit;
      &.active {
        color: $text-white;
        background-color: $active-blue;
      }
    }
  }
}
