@import "colors.variables";

@mixin typography-headline1 {
  font-size: 96px;
  font-weight: 300;
  line-height: 1.2;
}

@mixin typography-headline2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
}

@mixin typography-headline3 {
  font-size: 48px;
}

@mixin typography-headline4 {
  font-size: 34px;
}

@mixin typography-headline5 {
  font-size: 24px;
}

@mixin typography-headline6 {
  font-size: 20px;
  font-weight: 500;
}

@mixin typography-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 1.42;
  font-size: 16px;
  color: $text-black;
  &.dark {
    color: $text-white;
  }
}

@mixin typography-small {
  font-size: 14px;
}

@mixin typography-subtitle {
  font-size: 16px;
  font-weight: 500;
}

@mixin typography-button {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin typography-caption {
  font-size: 12px;
}
